<ul class="small-block-grid-3">
  <li><!-- Your content goes here --></li>
  <li><!-- Your content goes here --></li>
  <li><!-- Your content goes here --></li>
</ul>


<h2>Flynn School of Irish Dance</h2>
<p>
  The time is now: <%= Time.now %>
</p>