<ul class="small-block-grid-3">
  <li><img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/2013.10.27_fid.jpg" /></li>
  <li><img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/IMG_0891.JPG" /><li>
  <li><img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/DSC_3807-r.jpg" /><li>
</ul>


<h2>Flynn School of Irish Dance</h2>
<p>
  The time is now: <%= Time.now %>
</p>