<ul class="small-block-grid-3">
  <li><img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/2013.10.27_fid.jpg" /></li>
  <li><img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/IMG_0891.JPG" /></li>
  <li><img src="https://s3.amazonaws.com/flynnirishdance/Initial+Picture+Uploads/DSC_3807-r.jpg" /><li>
</ul>


<h2>Flynn School of Irish Dance</h2>
<p>
 Sint selfies aliquip occupy yr. Bitters beard skateboard ugh enim irony Tonx readymade authentic exercitation butcher post-ironic, single-origin coffee biodiesel. Ex est leggings, typewriter readymade selfies aliqua fanny pack small batch freegan. Small batch Pinterest Schlitz lo-fi, labore wolf keytar kale chips dolore hoodie. Assumenda ennui authentic, quinoa farm-to-table Intelligentsia pickled magna voluptate. Tote bag messenger bag proident, blog occupy flexitarian delectus raw denim Vice Shoreditch vinyl gluten-free. Actually dolore reprehenderit, raw denim vegan organic Neutra enim.

Ut post-ironic seitan try-hard. Cupidatat master cleanse Tumblr eiusmod, Terry Richardson iPhone ethical salvia Pinterest deserunt forage roof party disrupt try-hard single-origin coffee. Pinterest stumptown elit keffiyeh kogi. Craft beer Helvetica selvage, laborum iPhone nesciunt kogi mustache cillum culpa. Vero McSweeney's butcher quinoa hoodie. Nisi placeat scenester art party nulla. Odio jean shorts vegan vinyl gentrify, ut quis 3 wolf moon sriracha Marfa.
</p>